@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Poppins:ital,wght@0,400;0,600;1,400&family=Wendy+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 3rem;
    background: #FEC260;
}

.header {
    margin-bottom: 2%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

.user-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0.85rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    width: 70%;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    outline: none;
    border: none;
}

.input-and-add {
    display: flex;
    transform: translateX(10%);
}

.add {
    padding: 1rem;
    background: #F9D371;
    cursor: pointer;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 2px solid black;
    font-size: 1rem;
    border-right: none;
    color: black;
}


.fa-plus-anime-start {
    transition: transform 1s;
    transform: scale(1.5) rotate(180deg);
}

.fa-plus-anime-end {
    transition: transform 1s;
    transform: scale(1);
}

.add:hover {
    background: #FFC600;
    color: white;
}



.todo-form {
    width: 100%;
}


.list-container {
    width: 30rem;
    min-height: 30rem;
    padding: 1.25rem 0;
    background: white;
    border: 2px solid black;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 8px 8px black;
}

.todo-list {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 1rem 2rem;
    margin-top: 1%;
}

li {
    padding: 1rem;
    list-style: none;
}

.check-box {
    margin-right: 0.85rem;
}


.item,
.finished {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-items,
.moveLeft {
    border-bottom: 1px solid rgba(122, 122, 122, 0.596);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5rem;
    font-size: 1rem;
    position: relative;
    margin: 0 0 2rem;
}

.trash {
    color: red;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

.fa-trash {
    pointer-events: none;
}


.trash:hover {
    background: red;
    color: white;
    border-radius: 50%;
    transform: scale(1.2);
}


.finished {
    opacity: 0.5;
    transition: text-decoration 1s;
}

.finished-line-thru {
    text-decoration: line-through;
}

.copyright {
    margin-top: 4rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
    color: #222222
}

.moveLeft {
    transition: transform 1s;
    transform: translateX(-150%);
}

/* date  */
.liItem-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.current-date {
    font-size: 0.75rem;
    font-weight: normal;
    color: rgba(128, 128, 128, 0.726);
}

/* filter  */
.filter {
    margin-top: 2rem;
    padding: 0 1.5rem;
}

.filter-container {
    border-bottom: 1px solid rgba(122, 122, 122, 0.596);
}


.filter-inner {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 0rem;
}

.filter-status {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 1rem;
}

.filter-status:nth-child(2)>p {
    padding-right: 0;
}


.filter-status>p {
    padding: 0 0.5rem 1rem;
    text-align: center;
}

.active {
    width: 100%;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
}

/* clear all button  */
.clear-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clear-all-btn {
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 13px;
    background: red;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.clear-all-btn:hover {
    background: #d60d0d;
    text-decoration: none;
}

/* popup  */
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/* for all mobile view  */
@media(max-width: 415px) {

    body {
        padding-top: 4rem;
    }

    .list-container {
        margin-top: 7%;
        width: 22rem;
        min-height: 23rem;
        box-shadow: 7px 7px black;
    }

    .header {
        font-size: 1.55rem;
    }

    .filter-status {
        font-size: 0.9rem;
    }

    .clear-all-btn {
        font-size: 12px;
    }

    .popup .popuptext {
        font-size: 0.8rem;
    }

}