@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Poppins:ital,wght@0,400;0,600;1,400&family=Wendy+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 3rem;
    background: #FEC260;
}

.header {
    margin-bottom: 2%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

.user-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0.85rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    width: 70%;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    outline: none;
    border: none;
}

.input-and-add {
    display: flex;
    transform: translateX(10%);
}

.add {
    padding: 1rem;
    background: #F9D371;
    cursor: pointer;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 2px solid black;
    font-size: 1rem;
    border-right: none;
    color: black;
}


.fa-plus-anime-start {
    transition: transform 1s;
    transform: scale(1.5) rotate(180deg);
}

.fa-plus-anime-end {
    transition: transform 1s;
    transform: scale(1);
}

.add:hover {
    background: #FFC600;
    color: white;
}



.todo-form {
    width: 100%;
}


.list-container {
    width: 30rem;
    min-height: 30rem;
    padding: 1.25rem 0;
    background: white;
    border: 2px solid black;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 8px 8px black;
}

.todo-list {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 1rem 2rem;
    margin-top: 1%;
}

li {
    padding: 1rem;
    list-style: none;
}

.check-box {
    margin-right: 0.85rem;
}


.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-items,
.finished {
    border-bottom: 0.12rem solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5rem;
    font-size: 1rem;
    position: relative;
    margin: 0 0 2rem;
}

.trash {
    color: red;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

.trash:hover {
    background: red;
    color: white;
    border-radius: 50%;
    transform: scale(1.2);
}


.finished {
    opacity: 0.5;
}